<div class="container">
  <h1 class="display-4">Uprise Circus</h1>
</div>

<div class="container">
  <div class="alert alert-success">
    Congrats you signed in!
  </div>
</div>

<div class="container">
  <div class="embed-responsive">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&src=bGl6QHVwcmlzZWNpcmN1cy5vcmc&src=Y181MnEwZmNvczcwam1ncjU5ZGttcmo5Z3FwZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y192NmowYzExYzUxNmhwbjAwbmxnbG05OXFuNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWRtaW5AdXByaXNlY2lyY3VzLm9yZw&src=b3V0cmVhY2hAdXByaXNlY2lyY3VzLm9yZw&color=%23039BE5&color=%23E4C441&color=%23795548&color=%234285F4&color=%23F09300" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
